a.btn-lg.btn-primary.ng-binding {
	background-color: #22b99c;
	color: #ffffff;
	margin: 5px;

}

a.btn-lg.btn-primary:hover{
	background-color: #34495d;
}

.info{
	font-family: 'Varela Round', sans-serif;
	margin-top: 5px;
}

h1,h3,h4,p{
	color: #ffffff; 
}

.fa.fa-github{
	font-size:60px;
	color:#22b99c;
}

.fa.fa-linkedin{
	font-size:60px;
	margin-bottom: 20px;
	color:#22b99c;
}

.fa.fa-github:hover,.fa.fa-linkedin:hover{
	color: #ffffff;
}
