<!DOCTYPE html>
<html ng-app="weatherApp" ng-controller="weatherCtrl">
<head>
	<meta charset="UTF-8" />
	<title>My Weather</title>

	<!-- JS Scripts -->
	<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js">
	</script> 
	<script src="js/weather.js"></script>
	<script src="bower_components/angular-skycons/angular-skycons.min.js"></script>

	<!-- CSS files-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/weather.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="text-center info" ng-style="weatherBackground">
	<h1>{{weatherInfo.heading}}</h1>
	<p>{{weatherInfo.appInfo}}</p>
	<div>
		<a class="btn-lg" 
		ng-href="{{weatherInfo.subHeading2.githubprofile}}" 
		target="blank" title="Yacub93"><i class="fa fa-github"></i></a>

		<a class="btn-lg" 
		ng-href="{{weatherInfo.subHeading2.linkedinprofile}}" 
		target="blank" title="Yacub Ali"><i class="fa fa-linkedin"></i></a>
	</div>
	<a class="btn-lg btn-primary">{{description | uppercase}} <img ng-src="{{icon}}"></a>
	<a class="btn-lg btn-primary" ng-init="spdVal=true" ng-show="spdVal" ng-click="spdVal=!spdVal">{{mphSpeed}}</a>
	<a class="btn-lg btn-primary" ng-show="!spdVal" ng-click="spdVal=!spdVal">{{kphSpeed}}</a>
	<a class="btn-lg btn-primary">{{location}}, {{country}}</a>
	<a class="btn-lg btn-primary" ng-init="tmpVal=true" ng-show="tmpVal" ng-click="tmpVal=!tmpVal">{{cTemp}}</a>
	<a class="btn-lg btn-primary" ng-show="!tmpVal" ng-click="tmpVal=!tmpVal">{{fTemp}}</a>

<div class="row">
	<div class="search-weather eight columns offset-by-two">
		<h3>Search Forecast</h3>
			<form  ng-controller="forecastCtrl" >
			<div class="input-group">
			  <input type="text" ng-places-autocomplete  ng-model="formData.city" class="form-control" placeholder="Enter City name..." />
			
			  <button id="search" class="btn btn-primary" ng-click="getCity()">
			 	<i class="fa fa-search"></i>
			  	Search
		      </button>
		    </div>  

				<div ng-show="showForecast">
					<div class="forecast-info">
						<div class="forecast-info-animation">
							<canvas id="animated-icon" width="220" height="240"></canvas>
						</div>
					</div>		
					<table class="table">
						  <thead>
						    <tr>
						      <th>Location</th>
						      <th>Forecast</th>
						      <th>Wind Speed</th>
						      <th>Current Temp</th>
						      <th>Humidity</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>{{city}}, {{country}}</td>
						      <td>{{forecast}}</td>
						      <td>{{mphSpeed}} / {{kphSpeed}}</td>
						      <td>{{cTemp}} / {{fTemp}}</td>
						      <td>{{humidity}}</td>
						    </tr>
						  </tbody>
					</table>
		</form>
	</div>
</div>	
</body>
</html>